@font-face {
	font-family: "ChillRoundF";
	src: url("https://blog-oss.allenyou.top/static/ChillRoundF.otf");
}
@tailwind base;
@layer base {
	*::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	*::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: #b2b2b2;
		/* opacity: 80%; */
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
	}
	.not-prose {
	}
}
mjx-container {
	@apply inline-block;
	@apply text-base;
	@apply align-baseline;
	@apply !mb-0;
}
.medium-zoom-overlay {
	z-index: 998;
	background-color: #000000 / 30;
}
.medium-zoom-image--opened {
	z-index: 999;
}
/* .mjx */
@tailwind components;
@tailwind utilities;
