@font-face {
	font-family: "ChillRoundF";
	src: url("~/public/ChillRoundF.otf");
}
@tailwind base;
@layer base {
	*::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	*::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb:hover {
		background: #b2b2b2;
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
	}
}
@tailwind components;
@tailwind utilities;
